@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

@font-face {
	font-family: TTTrailers;
	font-display: swap;
	src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
